body {
    background-color: #000819;
 
}
:root {
    --heading-font-size : calc(clamp(1.563rem, 2.796vw - 0.231rem, 3.125rem));
}


.MSS-container {
    position: relative;
    width: 100vw;
    height: 100vh;

}
.MSS-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4vw;
    z-index: 2;
    background: linear-gradient(0deg, rgba(0, 8, 25, 1) 19%, rgb(0 0 0 / 0%) 100%);
}
.MSS-container .MSS-innerdiv {
    position: relative;
    width: 100%;
    height: 100%;
}
.MSS-container .MSS-innerdiv .MSS-banner-video {
    position: absolute;
    width: 100%;
    height: 100%;
}
.MSS-container .MSS-innerdiv .MSS-banner-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.MSS-container .MSS-innerdiv .radial-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 5;
    left: 0;
    background:radial-gradient(circle, rgba(0, 0, 0, 0) -2%, #000819 78%)
}
.MSS-container .MSS-innerdiv .MSS-Banner-center-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.MSS-container .MSS-innerdiv .MSS-Banner-center-text {
    z-index: 8;
}
.MSS-container .MSS-innerdiv .MSS-Banner-center-text .MSS-banner-center {
    font-size: calc(clamp(2.813rem, 3.915vw + 0.302rem, 5rem));
    color: #fff;
    padding: 0 13vw;
    text-align: center;
    font-weight: 500;
    line-height: calc(clamp(3.438rem, 6.152vw - 0.508rem, 6.875rem));
    margin-bottom: 2vw;
}
.MSS-container .MSS-innerdiv .MSS-Banner-center-text h2 span {
    font-weight: 500;
}
.MSS-banner-center-subtitle{
    font-size: calc(clamp(1.375rem, 2.013vw + 0.084rem, 2.5rem));
    font-weight: 400;
    text-align: center;
    width: 100%;
    padding: 0 13vw;
    text-align: center;
    font-weight: 500;
    color: #fff;
}
/* ----------------------------------------------banner end ----------------------------------- */

.MSS-offers-slider {
    position: relative;
    width: 100vw !important;
    height: 100vh !important;
    background-color: #000819;
    color: #fff;
    padding: 3vw 0;
}
/* .MSS-offers-slider::before {
    content: "";
    width: 100%;
    height: 16vh;
    position: absolute;
    top: -16vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, rgba(0, 8, 25, 1) 81%);
} */
.MSS-offers-slider h3 {
    font-size: var(--heading-font-size);
    color: #fff;
    font-weight: 500;
    padding: 1vw 0 7vw 0;
    text-align: center;
}

.MSS-offers-slider .MSS-slider-container {
    padding: 0 10vw;
    width: 100%;
    height: 60vh;
    position: relative;
}
.MSS-offers-slider .MSS-slider-container .slider {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}
.MSS-offers-slider .MSS-slider-container .image-card {
    width: 60%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.MSS-offers-slider .MSS-slider-container .slide-count {
    position: absolute;
    top: -10%;
    left: 9%;
    font-weight: 600;
    font-size: calc(clamp(2.813rem, 3.915vw + 0.302rem, 5rem));
    z-index: 2;
}
.MSS-offers-slider .MSS-slider-container .image-card .slide-img {
    width: 100%;
    height: 100%;

}
.MSS-offers-slider .MSS-slider-container .image-card .slide-img img {
    width: 100%;
    height: 100%;
    
}
.MSS-offers-slider .MSS-slider-container .slider .description-container  {
    width: 50%;
position: relative;
}
.MSS-offers-slider .MSS-slider-container .slider .description-container .slide-description {
    height: 100%;
    position: absolute;
}
.MSS-offers-slider .MSS-slider-container .slider .description-container .slide-description .slide-text {
    position: relative;
    width: 100%;
}
.MSS-offers-slider .MSS-slider-container .slider .description-container .slide-description .slide-text .arrow-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
    align-items: center;
}
.MSS-offers-slider .MSS-slider-container .slider .description-container .slide-description .slide-text .arrow-text h4 {
    font-size: calc(clamp(2.5rem, 4.474vw - 0.369rem, 5rem));
    font-weight: 600;
    position: relative;
    left: -15%;
    line-height: calc(clamp(2.813rem, 5.034vw - 0.415rem, 5.625rem));
}
.MSS-offers-slider .MSS-slider-container .slider .description-container .slide-description .slide-text .arrow-text svg {
    font-size: calc(clamp(3.75rem, 5.593vw + 0.164rem, 6.875rem))
}
.MSS-offers-slider .MSS-slider-container .slider .description-container .slide-description .slide-text p {
padding-left: 5vw;
font-weight: 300;
line-height: calc(clamp(1.375rem, 2.013vw + 0.084rem, 2.5rem));
font-size: calc(clamp(1.063rem, 1.454vw + 0.13rem, 1.875rem));

}

.MSS-offers-slider .MSS-slider-container .slider .description-container .slide-description:nth-child(2) {
    opacity: 0;
    transform: translateX(15vw);
}
.MSS-offers-slider .MSS-slider-container .slider .description-container .slide-description:nth-child(3) {
    opacity: 0;
    transform: translateX(15vw);
}
.MSS-offers-slider .MSS-slider-container .slider .description-container .slide-description:nth-child(4) {
    opacity: 0;
    transform: translateX(15vw);
}


/* ------------------------------------------------------------------- */

.Managed-operation-counter {
    position: relative;
    width: 100%;
    height: 50vh;
    color: #fff;
    background-color: #000819;
}
.Managed-operation-counter .MS-counter-heading {
    position: relative;
    width: 100%;

}
.Managed-operation-counter .MS-counter-heading h3 {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 1vw 0;
    font-weight: 500;
    font-size: var(--heading-font-size);
}
.Managed-operation-counter .MS-counter-heading h3 span {
    font-weight: 600;
}

.Managed-operation-counter .MSS-counter-section {
    position: relative;
    width: 100%;

    padding: 9vh 4vw 0 4vw;
}

.Managed-operation-counter .MSS-counter-section .counter-list {
    display: flex;
    justify-content: space-around;
}
.Managed-operation-counter .MSS-counter-section .counter-list .counter-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Managed-operation-counter .MSS-counter-section .counter-list .counter-div .numbers span {   
    background-image: linear-gradient(180deg, #00C2FF 42%, #0596FF 50%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

.Managed-operation-counter .MSS-counter-section .counter-list .counter-div .numbers {
        font-size:  calc(clamp(2.188rem, 2.796vw + 0.394rem, 3.75rem));
        font-weight: 400;
        font-family: "clash-display";
  }

  .Managed-operation-counter .MSS-counter-section .counter-list .counter-div .count-title {
    width: 12vw;
    text-align: center;
    font-size: calc(clamp(0.75rem, 0.895vw + 0.176rem, 1.25rem));
}

.Managed-operation-counter .MSS-counter-section .counter-list .counter-div:last-child {
    display: none;
}

/* ----------------------------------------------------------------------------- */
.Success-stories{
    position: relative;
    width: 100%;
    padding: 3vw 0;
    background-color: #000819;
    z-index: 1;
}
/* .Success-stories::before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 2vw;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 1%, rgb(0 0 0 / 0%) 100%);
} */
.Success-stories .stories-container {
    width: 100%;

}
.Success-stories .stories-container .heading {
    position: relative;
    width: 100%;
}

.Success-stories .stories-container .heading h3 {
    font-size: var(--heading-font-size);
    font-weight: 500;
    text-align: center;
}
.Success-stories .stories-container .casee-study-list {
    width: 100%;
    padding: 2vw 4vw;
    position: relative;
}

.Success-stories .stories-container .casee-study-list .case-study-item  {
    padding: 2vw 0;
    position: relative;
    cursor: pointer;
}
.Success-stories .stories-container .casee-study-list .case-study-item::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    /* z-index: 27; */
    height: 6px;
    background-color: #2086F2;
    filter: blur(7px);
    transition: width 0.5s ease;
}
.Success-stories .stories-container .casee-study-list .case-study-item:hover::before {
    width: 100%;

}
.Success-stories .stories-container .casee-study-list .case-study-item  .arrow-icon {
    position: absolute;
    right: 0;
    top: 50%;
}
.Success-stories .stories-container .casee-study-list .case-study-item  .arrow-icon svg {
    font-size: calc(clamp(2.813rem, 3.915vw + 0.302rem, 5rem));
    font-weight: 800;
    transition: transform 0.5s ease;
}
.Success-stories .stories-container .casee-study-list .case-study-item:hover  .arrow-icon svg {
   transform: translate(10px, -20px);
}
.Success-stories .stories-container .casee-study-list .case-study-item::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 1px;
    background-color: #fff;
    bottom:  0;
    left: 0;
}

.Success-stories .stories-container .casee-study-list .case-study-item .case-item-head {
    justify-content: start;
    align-items: start;
    font-size: calc(clamp(1.563rem, 1.678vw + 0.487rem, 2.5rem));
    font-weight: 300;
    margin: 1vw 0;
}
.Success-stories .stories-container .casee-study-list .case-study-item p {
    font-size: calc(clamp(0.75rem, 1.23vw - 0.039rem, 1.438rem));
}

/* ------------------------------------------------------------------------------------------------------ */
.myth-section {
    position: relative;
    width: 100vw;
    padding: 3vw 5vw;
}
.myth-section .myth-container .myth-heading  {
    position: relative;
}
.myth-section .myth-container .myth-heading h2 {
    font-size: var(--heading-font-size);
    position: relative;
    z-index: 2;
    font-weight: 500;
    text-align: center;
    padding: 1vw 5vw;
}
.myth-section .myth-container .myth-description {
    width: 100%;  
    margin: 3vw 0;
    display: flex;
    justify-content: space-between;
}
.myth-section .myth-container .myth-description .myth-sec{
    width: 30%;
    position: relative;
}
.myth-section .myth-container .myth-description .myth-sec .innerdiv h5{
    font-size: calc(clamp(1.875rem, 4.474vw - 0.994rem, 4.375rem));
    font-weight: 700;
}
.myth-section .myth-container .myth-description .myth-sec:first-child .innerdiv {
    padding-top: 2.5vw;
}
.myth-section .myth-container .myth-description .myth-sec:first-child .innerdiv p {
    font-size: calc(clamp(0.938rem, 1.678vw - 0.138rem, 1.875rem));
    text-align: end;
    margin: 2vw 0 15vw 0px;
    line-height: calc(clamp(1.25rem, 1.678vw + 0.174rem, 2.188rem));
}
.myth-section .myth-container .myth-description .myth-sec:last-child .innerdiv p {
    font-size: calc(clamp(0.938rem, 1.678vw - 0.138rem, 1.875rem));
    text-align: start;
    margin: 2vw 0 0vh 0;
    line-height: calc(clamp(1.25rem, 1.678vw + 0.174rem, 2.188rem));
}
.myth-section .myth-container .myth-description .myth-sec:last-child {
    margin-top: auto;
}
.myth-section .myth-container .myth-description .myth-sec:first-child .innerdiv h5 {
    -webkit-text-stroke:  1px #fff;
    color:transparent;
    font-weight: 900;
    text-align: end;
}

.myth-section .myth-container .myth-description .divider-img .tilted-line {
    position: absolute;
    width: calc(clamp(0.25rem, 0.447vw - 0.037rem, 0.5rem));
    border-radius: 50px;
    height: 90%;
    background-color: #fff;
    box-shadow: 0px 1px 34px 30px rgb(4 76 197);
-webkit-box-shadow: 0px 1px 18px 11px rgb(4 76 197);
-moz-box-shadow: 0px 1px 34px 30px rgb(4 76 197);
    z-index: -1;
    transform: rotate(25deg);
}
.myth-section .myth-container .myth-description .divider-img  {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myth-section .myth-container .myth-description .divider-img::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 40%;
    /* top: 25%;
    left: 40%; */
    background-color: #2086F2;
    filter: blur(150px);
    z-index: -1;
}
/* ------------------------------------------------------------------------------------------------------- */
.resource-section {
    position: relative;
    width: 100vw;
    padding: 2vw 2vw;
}
.resource-section .resource-container .heading h3 {
    font-size: var(--heading-font-size);
    text-align: center;
    margin: 2vw 0;
    font-weight: 500;
    padding: 0 5vw;
}
.resource-section .resource-container .list-of-resource {
    padding: 6vw 5vw ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resource-section .resource-container .list-of-resource .parent-center-img {
    width: 50%;
    position: relative;
}
.resource-section .resource-container .list-of-resource .parent-center-img .card-div {
    position: absolute;
    font-size: calc(clamp(0.938rem, 1.678vw - 0.138rem, 1.875rem));
    padding: 0.8vw 1vw;
    border-radius: 10px;
    animation-name: floatingcard;
    animation-duration: 3.1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes floatingcard {
    0%   {transform: translateY(0) translateX(0);}
    50% {transform: translateY(-25px) translateX(5px)}
    100% {transform: translateY(0) translateX(0);}
  }


.resource-section .resource-container .list-of-resource .parent-center-img .card-div:nth-child(2) {
    top: -8%;
    left: 20%; 
    width: 50%;
    background:  linear-gradient(-90deg, rgba(0,75,130,1) 0%, rgba(22,28,45,0.4962359943977591) 100%);;
}
.resource-section .resource-container .list-of-resource .parent-center-img .card-div:nth-child(3) {
    top: 23%;
    right: -32%;
    width: 36%;
    background: linear-gradient(-90deg, rgba(0, 75, 130, 1) 0%, rgba(22, 28, 45, 0.4962359943977591) 100%);
}
.resource-section .resource-container .list-of-resource .parent-center-img .card-div:nth-child(4) {
    bottom: 5%;
    right: -38%;
    width: 46%;
    background: linear-gradient(-90deg, rgba(0, 75, 130, 1) 0%, rgba(22, 28, 45, 0.4962359943977591) 100%);
}
.resource-section .resource-container .list-of-resource .parent-center-img .card-div:nth-child(5) {
    bottom: 10%;
    width: 42%;
    left: -30%;
    background: linear-gradient(81deg, rgba(0, 75, 130, 1) 0%, rgba(22, 28, 45, 0.4962359943977591) 100%);
}
.resource-section .resource-container .list-of-resource .parent-center-img .card-div:nth-child(6) {
    top: 19%;
    left: -41%;
    width: 50%;
    background: linear-gradient(81deg, rgba(0, 75, 130, 1) 0%, rgba(22, 28, 45, 0.4962359943977591) 100%);
}



/****/

.MSmobileShow_view{ display: none;}




/* Mobile Responsive css start */
@media (max-width: 1400px){}
@media (max-width: 1280px){}
@media (max-width: 1199px){
    .MSS-offers-slider{ display: none;}
    .MSmobileShow_view{ display: block; padding:0 50px; }
    .cloudOffer_1{ margin: 45px 0;}
    .cloudOffer_1 h2 { font-size: calc(clamp(1.875rem, 4.474vw - 0.994rem, 4.375rem)); font-weight: 600; line-height: 38px; margin: 15px 0; }
    .cloudOffer { display: flex; flex-wrap: wrap; justify-content: space-between; gap: 35px; }
    .cloudOffer_1 { margin: 15px 0; width: 47%; }
    h3.MS-heading{ font-size:48px; color: #fff; line-height: 58px; font-weight: 500; padding: 0; text-align: center; }
}
@media (max-width: 991px){
.MSS-container .MSS-innerdiv .MSS-Banner-center-text .MSS-banner-center {line-height: 51px; margin-top: 25%;}
.MSS-offers-slider{ width: 100% !important;}
.MSS-offers-slider{ display: none;}
.MSmobileShow_view{ display: block; padding:0 50px; }
/* .MSmobileShow_view h3 {font-size: var(--heading-font-size); color: #fff; font-weight: 500; padding: 0; text-align: center; line-height: 38px;} */
.cloudOffer {display: flex; justify-content: space-around; flex-wrap: wrap;}
.managedservices {padding: 50px 0;}
.cloudOffer_1 img{ margin: 25px 0;}
.cloudOffer_1 h2 {font-size: calc(clamp(2.5rem, 4.474vw - 0.369rem, 5rem)); font-weight: 600; line-height: 38px; margin-bottom: 25px;}
.Managed-operation-counter {height: auto; padding: 8vw 5vw;}
}

@media (max-width: 767px){
    .Managed-operation-counter .MS-counter-heading h3 {line-height: 10vw;}
.MSS-container .MSS-innerdiv .MSS-Banner-center-text .MSS-banner-center {line-height: 48px; padding: 0 3vw; margin-top: 0;}
.myth-section .myth-container .myth-heading h3{line-height: 38px;margin-bottom: 5vw;}
/* .navbar-container {top: 20px; } */
.myth-section .myth-container .myth-description {flex-wrap: wrap;}
.myth-section .myth-container .myth-description .myth-sec {width: 100%; position: relative;}
.myth-section .myth-container .myth-description .myth-sec:first-child .innerdiv h5 {text-align: center;}
.myth-section .myth-container .myth-description .myth-sec:first-child .innerdiv p {text-align: center; margin: 2vw;}
.myth-sec.divider-img {padding: 45px 0;}
.myth-section .myth-container .myth-description .myth-sec .innerdiv h5 { text-align: center;}
.myth-section .myth-container .myth-description .myth-sec:last-child .innerdiv p { text-align: center; margin: 2vw;}
.MSS-offers-slider{ width: 100% !important;}
.MSS-offers-slider{ display: none;}
.MSmobileShow_view{ display: block; padding: 0;}
.MSmobileShow_view h3 {font-size: var(--heading-font-size); color: #fff; font-weight: 500; padding:0; text-align: center; line-height: 38px;}
.cloudOffer {display: flex; justify-content: space-around; flex-wrap: wrap;}
.MSmobileShow_view { padding: 8vw 5vw; }
.managedservices {padding: 0 0;}
/* .cloudOffer_1 {padding: 15px;} */
.cloudOffer_1 h2{ font-size: calc(clamp(2.5rem, 4.474vw - 0.369rem, 5rem)); font-weight: 600; line-height: 38px; margin-bottom: 25px;}
.Managed-operation-counter .MSS-counter-section .counter-list {flex-wrap: wrap;}
.Managed-operation-counter .MSS-counter-section .counter-list .counter-div .count-title { width: 100%;}
.Managed-operation-counter .MSS-counter-section {padding: 4vw 0;}
.resource-section .resource-container .heading h3 {line-height: 38px;}
.resource-section .resource-container .list-of-resource .parent-center-img .card-div{animation-name:none}
.resource-section .resource-container .list-of-resource .parent-center-img {width: 100%; display: grid; place-items: center;}
.resource-section .resource-container .list-of-resource .parent-center-img img {width: 100%; display: block; margin-bottom: 25px;}
.resource-section .resource-container .list-of-resource .parent-center-img .card-div {position: relative;}
.resource-section .resource-container .list-of-resource .parent-center-img .card-div:nth-child(2) {top: 0%; left: 0%;  width: 100%; background: #004b82;}
/* background: linear-gradient(-90deg, rgba(0,75,130,1) 0%, rgba(22,28,45,0.4962359943977591) 100%); */
.resource-section .resource-container .list-of-resource .parent-center-img .card-div:nth-child(3) {top: 0; right: 0; width: 100%; background: #004b82;}
.resource-section .resource-container .list-of-resource .parent-center-img .card-div:nth-child(4) {bottom: 0; right: 0; width: 100%; background: #004b82;}
.resource-section .resource-container .list-of-resource .parent-center-img .card-div:nth-child(5) {bottom: 0; width: 100%; left: 0; background: #004b82;}
.resource-section .resource-container .list-of-resource .parent-center-img .card-div:nth-child(6) {top: 0; left: 0; width: 100%; background: #004b82;}
.resource-section .resource-container .list-of-resource .parent-center-img .card-div {margin: 5px; padding: 10px; text-align: center;}
.Success-stories .stories-container .heading h3 {padding: 35px 0; line-height: 38px;}
div#server-model {top:10% !important;}
div#server-model canvas { width: 60% !important; height: auto !important; margin: 5% auto 0; }
.cloudOffer_1 img{ margin-bottom: 25px;}
.Managed-operation-counter {height: auto;}
.arrow-icon{ display: none;}
/* .mobilemangedSer h3#heading {margin-top: 15%;} */
.navbar-inner button { margin-right: 10px; }
.MSS-banner-center-subtitle { padding: 0 3vw; }
.cloudOffer_1 { margin:0; width: 100%; }
}
@media (max-width: 667px){
    .MSS-container .MSS-innerdiv .MSS-Banner-center-text .MSS-banner-center {line-height: 48px; margin-top: 25%;}

}
@media (max-width: 480px){
div#server-model canvas { width:65% !important; height: auto !important; margin: 0% auto 0; }
.MSS-container .MSS-innerdiv .MSS-Banner-center-text {position: absolute; width: 100%; height: 100vw; display: flex;  align-items: center;
flex-direction: column;  z-index: 8;}
  
}
@media (max-width: 360px){
.MSS-container .MSS-innerdiv .MSS-Banner-center-text .MSS-banner-center {line-height: 48px; font-size: 38px;}
div#server-model canvas { width: 40% !important; height: auto !important; margin: 5% auto 0; }
}

