.innerPage_certificate::before {content: ""; position: absolute; top: 0%; transform: translate(0%, 0); z-index: -9; height: 100vh; width: 100%; opacity: 0.6; filter: blur(110px);
    background: radial-gradient(circle at 50%, rgb(0 125 255) 2%, rgba(0, 17, 38, 0) 68%);}
    .innerPage_certificate {width: 80%; margin: 0 auto; position: relative; overflow: hidden; padding: 10vw 5vw; z-index: 9; background: url(../../images/Certificate/Spotlight-bg.png) top center no-repeat; background-size:contain;}
   .innerPage_certificate .wrapper{display: grid; grid-template-columns: repeat(6, [col-start] 1fr); gap: 10px;}
   .innerPage_certificate .wrapper div{border: solid 3px #ffffff45;}
   .innerPage_certificate .wrapper div img{ width: 100%;}
    .innerPage_certificate h1{ font-size: clamp(1.375rem, 2.908vw - 0.49rem, 3rem); color: #FFF; padding: 0; margin:0 0 2vw 0; text-align: center; font-weight: 600;}
    
    
    /* Mobile Responsive css start */
    @media (max-width: 1400px){}
    @media (max-width: 1280px){}
    @media (max-width: 1199px){}
    @media (max-width: 991px){}
    @media (max-width: 896px){}
    @media (max-width: 768px){}
    @media (max-width: 767px){
    .innerPage_certificate .wrapper{display: grid; grid-template-columns: repeat(2, [col-start] 1fr); gap: 10px;}
    .innerPage_certificate {margin-top: 120px; background-image: none;}
    .innerPage_certificate::before {height: 100vh; width: 100%; transform: translate(0px, 0px);}
    }
    @media (max-width: 667px){}
    @media (max-width: 480px){
    .innerPage_certificate {margin-top: 80px; background-image: none;}
    .innerPage_certificate .wrapper{display: grid; grid-template-columns: repeat(1, [col-start] 1fr); gap: 10px;}
    
    
    }
    @media (max-width: 360px){}
    
    