/* SECTION 1 */

.uniqueBuisnessNeeds {
  position: relative;
  width: 100%;
}

.uniqueBuisnessNeeds .uniqueBuisnessNeedsContainer {
  display: flex;
  align-items: center;
  padding: 10vw 5vw;
  padding-bottom: 50px;
  justify-content: space-between;
  background-image: url("../../../images/PrivateSocBuild/bgUniqueBuisnessNeeds.jpg");
  background-size: contain;
}
.uniqueBuisnessNeeds .uniqueBuisnessNeedsContainer .uniqueBuisnessNeedsText {
  width: 50%;
}

.uniqueBuisnessNeeds
  .uniqueBuisnessNeedsContainer
  .uniqueBuisnessNeedsText
  .cs-heading {
  font-size: clamp(1.875rem, 4.251vw - 0.851rem, 4.25rem);
  font-weight: 500;
  margin-bottom: 3vw;
  line-height: 55px;
}

.uniqueBuisnessNeeds
  .uniqueBuisnessNeedsContainer
  .uniqueBuisnessNeedsText
  .cs-heading-p {
  position: relative;
  font-size: calc(clamp(1.125rem, 1.342vw + 0.264rem, 1.875rem));
  padding: 0.5vw 0 0.5vw 2vw;
}

.uniqueBuisnessNeeds .uniqueBuisnessNeedsContainer .uniqueBuisnessNeedsImg {
  position: relative;
  width: 50%;
  padding-right: 7vw;
}

.uniqueBuisnessNeedsImg > img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensures proper scaling */
  position: relative;
  right: 0;
}

/* SECTION 2 */

.customizedSoc {
  padding: 5vw;
  width: 100%;
  background: #00000a;
}

.customizedSocHead {
  /* padding-left: 60px; */
}

.customizedSocHead > h3 {
  font-size: clamp(1.875rem, 1.678vw + 0.799rem, 2.813rem);
  margin-bottom: 1vw;
}
.customizedSocHead > :nth-child(2) {
  position: relative !important;
  width: 50% !important;
  margin-bottom: 1vw;
}

.customizedSocContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.customizedSocInfo {
  width: 50%;
}

.customizedSocImg {
  width: 50%;
  position: relative;
  bottom: 70px;
}

.customizedSocInfo > h3 {
  padding: 20px 0 4px 0;
}

.customizedSocInfo > :nth-child(3) {
  padding-top: 31px;
  position: relative;
  top: 30px;
}

/* SECTION 3 */

.approachToBuilding {
  background: #00000a;
}
.approachToBuildingHead > h3 {
  font-size: clamp(1.875rem, 2.461vw + 0.297rem, 3.25rem);
  text-align: center;
}

.approachToBuildingHead > :nth-child(2) {
  position: relative !important;
  width: 50% !important;
  left: 25% !important;
  /* padding-top: 1px; */
  top: 20px;
}

.approachToBuildingContainer {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  padding: 5vw;
}

.approachToBuildingImg {
  width: 50%;
  position: relative;
}

/* .approachToBuildingInfo {
    width: 50%;
    position: relative;
}
.approachToBuildingInfo > ul >li {
    font-size: clamp(0.5rem, 0.895vw - 0.074rem, 1rem);
} */

.approachToBuildingInfo {
  width: 50%;
  position: relative;
  top: 80px;
}

.approachToBuildingInfo > :nth-child(2){
      /* margin-top: 49px !important; */
      position: relative;
      top: 20px;
}

.approachToBuildingInfo > ul {
  list-style: none;
  padding: 0;
}

.approachToBuildingInfo > ul > li {
  font-size: clamp(0.75rem, 1.454vw - 0.182rem, 1.563rem);
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  color: #ffffff;
  opacity: 0.8;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, transparent, #2086f2, transparent) 1;
  padding-bottom: 15px;
}

.approachToBuildingInfo > ul > li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #2086f2;
  font-weight: bold;
  font-size: 1.5em;
}

/* SECTION 4 */
.privateSocContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5vw;
}

.privateSocContainer > .column2 > h2 {
  font-size: clamp(1.563rem, 3.02vw - 0.374rem, 3.25rem);
}

.privateSocContainer .column1 p,
.privateSocContainer .column2 p {
  font-size: clamp(0.688rem, 1.23vw - 0.102rem, 1.375rem);
}

.privateSocContainer .column1,
.privateSocContainer .column2,
.privateSocContainer .column3 {
  width: 33%;
}
.privateSocContainer .column2 {
  text-align: center;
  margin-top: 70px;
}

.privateSocContainer .column2 :nth-child(2) {
  position: relative !important;
  right: 100px !important;
  left: 30px !important;
  width: 0% !important;
}

.privateSocContainer .block1,
.privateSocContainer .block2,
.privateSocContainer .block3,
.privateSocContainer .block4,
.privateSocContainer .block5,
.privateSocContainer .block6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: flex-end; */
}

.privateSocContainer .block2 {
  margin-left: 39px;
}

.privateSocContainer .block3 {
  margin-left: 39px;
}
.privateSocContainer > .row4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
  /* margin-top: 5%; */
}

.privateSocCallToAction > h3 {
  text-align: center;
  margin-top: 50px;
  line-height: 3.25rem;
  font-size: clamp(1.875rem, 1.119vw + 1.158rem, 2.5rem);
}

.privateSocCallToAction > p {
  text-align: center;
  margin-top: 20px;
  font-size: calc(clamp(0.938rem, 1.119vw + 0.22rem, 1.563rem));
}

.privateSocCallToAction > :nth-child(3) {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
