@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

#WhitePapers .bannerWhitepapers{ position: relative; overflow: hidden; width: 100%; height:auto; background: url(../../images/whitepapper.png) center center no-repeat; background-size:100%;}